/* Estilos personalizados para la aplicación */

/* Animación de giro para el botón de refrescar */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 1s linear infinite;
}
